$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

$background-primary-light: #383838;
$background-primary-light-rgb: hexToRGB($background-primary-light);
$background-primary-main: #232323;
$background-primary-dark: #111010;
$background-primary-dark-rgb: hexToRGB($background-primary-dark);

$background-secondary: #313131;
$background-tertiary: #474747;

/* status colors */

$success-light: #C8FFBF;
$success-main: #70DE55;
$success-dark: #1F8F0C;

$error-light: #FFCDDF;
$error-main: #FF1768;
$error-dark: #D11859;

$warning-light: #FFD8C2;
$warning-main: #F7803D;
$warning-dark: #B65015;

$info-light: #82f7ff;
$info-main: #40c4ff;
$info-dark: #0094cc;

/* brand colors */

$primary-light: #7EDBE9;
$primary-main: #4CBECF;
$primary-main-rgb: hexToRGB($primary-main);
$primary-dark: #30909E;

/* typography colors */

$text-primary-light: #FFFFFF;
$text-primary-main: #E4E7E7;
$text-primary-dark: #A9A9A9;

$text-secondary-light: #c8bdbd;
$text-secondary-main: #978d8d;
$text-secondary-dark: #262626;

$text-primary-invert-light: #ffffff;
$text-primary-invert-main: #ffffff;
$text-primary-invert-dark: #ffffff;

$text-secondary-invert-light: #ffffff;
$text-secondary-invert-main: #ffffff;
$text-secondary-invert-dark: #ffffff;

$text-diclaimer: #98D0F5;

/* border colors */

$border-primary-light: #FFFFFF;
$border-primary-main: #545656;
$border-primary-dark: #3E3E3E;

/* disable colors */

$disable-primary-light: #D7DADB;
$disable-primary-main: #8D9097;
$disable-primary-dark: #696B70;

/* other colors */

$network-purple-dark: #8247E5;
$network-purple-light: #627EEA;
$network-black: #0B2545;
$network-green: #87FF65;
$drop-down-shadow: #b6b6b7;
$drop-down-shadow-rgb: hexToRGB($drop-down-shadow);
$shadow-color: #96969d;
