$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

$background-primary: #ffffff;
$background-secondary: #232323;
$background-tertiary: #fafafa;
$background-quaternary: #313131;
$background-quinary: #111010;
$background-quinary-rgb: hexToRGB($background-quinary);
$background-error: #ffedf3;
$background-success: #F2FFED;
$background-switcher: #F1F3F8;
$background-switcher-picked: #2dceff;
$background-switcher-picked-rgb: hexToRGB($background-switcher-picked); 

/* status colors */

$success-light: #5efc82;
$success-main: #00c853;
$success-dark: #009624;

$error-light: #ff6434;
$error-main: #dd2c00;
$error-dark: #a30000;
$warning-light: #f16709;
$warning-main: #ff6d00;
$warning-dark: #c43c00;

$info-light: #82f7ff;
$info-main: #40c4ff;
$info-dark: #0094cc;

/* brand colors */

$primary-light: #84f1ff;
$primary-main: #4cbecf;
$primary-main-rgb: hexToRGB($primary-main);
$primary-dark: #008d9e;

/* typography colors */

$text-primary-light: #717171;
$text-primary-main: #464646;
$text-primary-dark: #1f1f1f;

$text-secondary-light: #c8bdbd;
$text-secondary-main: #978d8d;
$text-secondary-dark: #696060;

$text-primary-invert-light: #ffffff;
$text-primary-invert-main: #ffffff;
$text-primary-invert-dark: #ffffff;

$text-secondary-invert-light: #ffffff;
$text-secondary-invert-main: #ffffff;
$text-secondary-invert-dark: #ffffff;

$text-success: #4E975A;
$text-diclaimer: #98D0F5;
$text-guides: #3BA2B1;

/* border colors */

$border-primary-light: #feffff;
$border-primary-main: #cbdae9;
$border-primary-dark: #9aa9b7;
$border-secondary-light: #e4e7e7;
$border-secondary-main: #e4e7e7;
$border-secondary-dark: #e4e7e7;
$border-black: #3E3E3E;

/* other colors */

$polygon-network: #8247E5;
$ethereum-network: #627EEA;
$q-network: #0B2545;
$q-network-stroke: #87FF65;
$drop-down-shadow: #b6b6b7;
$drop-down-shadow-rgb: hexToRGB($drop-down-shadow);
$shadow-color: #96969d;
